.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1%;
    justify-content: center;
}

.childitem {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: medium;
    margin-top: 1px;
    color: #000000;
}

#reset {
    margin-top: 2%;
}

#card-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    height: 60vh;
    text-align: center;
    justify-content: center;
    width: 100%;
}

#shuffle, #reset {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #6dc8e4;
    box-shadow: 2px 2px #3db2d6;
    text-align: center;
    position: relative;
    border-color: transparent;
    outline:none;
}

@media only screen and (min-width: 768px) {
    .actions {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 30%;
        padding-bottom: 1%;
        justify-content: flex-start;
        margin: 2% 0 0 2%;
    }
    .container {
        flex-direction: row;
    }
    .childitem {
        width: 33.33%;
        font-size: xxx-large;
        font-weight: bold;
        margin-top: 0;
        color: #FFFFFF;
    }
}
